[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "source/min-lib"]
	path = source/min-lib
	url = https://github.com/Cycling74/min-lib.git
[submodule "source/MatsuokaEngine_src"]
	path = source/MatsuokaEngine_src
	url = git@github.com:DanBennettDev/CPGLib.git
